html,body{

    width: 100%;
    height: 100%;
    background:#222;
}

#content{
    width:100%;
    height: 100%;
}

/*   stage   */
.stage{
    position: relative;
    width: 100%;
    height:680px;
}


/*   img   */
.img_container{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #ddd;
}


/*   controller  */
.controller_nav{
    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 999;
    width: 100%;
    text-align: center;
}

